
.Upload.xojo_uistate

TempSaveFile*
Builds*
Upload.xojo_binary_project
oauth2.debug.*

UploadLib/Common_Module.xojo_code.obsolete_20180205_144653

App.xojo_code.obsolete_20180206_103230

popupBrowser.xojo_window.obsolete_20180119_102502

UploadLib/popupBrowser.xojo_window.obsolete_20180206_103230

UploadLib/ShareWindow.xojo_window.obsolete_20180205_144653

UploadLib/SharetoWindow.xojo_window.obsolete_20180206_103230
